.right-cont {
  transition: opacity 400ms ease-in, transform 900ms ease-in;
  opacity: 0;
  transform: translateX(50%);
}
.left-cont {
  transition: opacity 400ms ease-in, transform 900ms ease-in;
  opacity: 0;
  transform: translateX(-50%);
}
.center-cont {
  transition: opacity 400ms ease-in, transform 900ms ease-in;
  opacity: 0;
  transform: scale(0);
}

.right-cont.appear,
.left-cont.appear,
.center-cont.appear {
  opacity: 1;
  transform: translate(0);
}
