* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 2.5em 4.3em;
    width: 95%;
    height: auto;
    background-color: #fff;
    padding: 2.5em 4.3em;
}


h2 {
    width: 37.5em;
    height: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

h3 {
    height: 3.2em;
    width: 18.75em;
    font-size: 2.2em;
}

p{
    width: 90%;
    height: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    line-height: 2em;
    text-align: justify;
    margin-bottom: 1.25em;
}

#formats li {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 2.0em;
    width: 50%;
    height: auto;
    text-align: justify;
    list-style-type: disc;
}

#sizes li {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 2.3em;
    width: 50%;
    height: auto;
    text-align: left;
    margin-bottom: 1em;
    list-style-type: disc;
}

.img-div {
    display: grid;
    place-items: center;
}

#img1 {
    height: 21em;
    width: 33em;
    margin: 1.25em 0em;
}
#img2 {
    margin: 1.25em 0.5em;
    height: 7.4em;
    width: 75%;
    padding: 0.25em;
}

#img3{
    height: 8.5em;
    width: 70%;
    border-radius: 0.25em;
    padding: 1.5em, 2.5em;
    margin-bottom: 1.6em;
}

#img4 {
    height: auto;
    width: 80%;
    margin-bottom: 1.5em;
}
span {
    font-size: 1em;
    font-weight: 600;
}

@media (max-width: 750px){
    p{
        justify-content: center;
        margin-left: -2em;
        width: 100%;
    }
    h2{
        margin-top: 15%;
        margin-left: -1.5em;
        width: 110%;
    }
    #img1{
        margin-left: -7em;
    }
    #img2{
        margin-left: -6em;
        width: 100%;
    }
    #img3{
        margin-left: -5em;
    }
    #img4{
        margin-left: -5em;
    }
    h3{
        margin-top: 1.5em;
        margin-bottom: -1.8em
    }
    #sizes li{
        width: 100%;
        margin-left: -2em;
        line-height: 0.9em;
    }
    #formats li{
        margin-left: -2em;
        margin-bottom: .3em;
        width: 100%;
        line-height: 2em;
    }
    nav.navbar-sticky{
        width: 100%;
    }
}