header.main-header {
  background-color: #232330;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0em 10em;
  padding-top: 4.5em;
}

.intro {
  margin-top: 216px;
}
.intro h2 {
  color: #ffff;
  text-align: center;
  margin-top: 40px;

  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
}
.intro p {
  color: #ffff;
  text-align: center;
  margin-top: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.container {
  position: relative;
}

.upload-text {
  width: 229px;
  height: 48px;
  font-size: 36px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  color: #323337;
  margin-left: 16px;
  /* margin-top: auto; */
}

.upload-image-cam {
  width: 28px;
  height: 24px;
}

.file-input {
  position: absolute;
  background-color: transparent;
  color: #323337;
  border-radius: 4px;
  display: inline-block;
  top: 0;
  left: 0;
  width: 600px;
  height: 84px;
  cursor: pointer;
  opacity: 0;
}

.file-input-cover {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #ffff;
  color: black;
  width: 600px;
  height: 84px;
  border-radius: 4px;
  cursor: pointer;
}

.upload {
  display: flex;
  color: white;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 136px;
  justify-content: center;
  gap: 24px;
}

.recent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}
.recent li {
  max-width: 60px;
  max-height: 60px;
}
.icons {
  color: #ffff;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
}
/* .sub-gen {
  display: none;
} */
/* .navbar ul li:hover {
  display: block;
} */

.lower {
  padding-bottom: 50px;
}

.recent-1 {
  font-size: 24px;
  font-weight: 600;
  margin-left: 170px;
  margin-bottom: 36px;
  color: #ffff;
}

/* .generatediv{
    background-color: #3250EC;
    background-color: green;
    border: none;
    padding: 12px 32px;
    border-radius: 4px;
    cursor: pointer;
} */

.generatebtn {
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 165px;
  height: 88px;
  margin-top: 0;
  justify-items: center;
  background-color: #3250ec;
  color: #ffff;
  border: none;
  padding: 31px 32px;
  cursor: pointer;
  border-radius: 4px;
  height: 84px;
  width: 164px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}


@media (max-width: 1024px) {
  /* li a {
    font-size: 21px;
    width: 75px;
  }
  
  .nav-menu {
    justify-content: space-around;
    gap: 60px;
  }
  
  .nav-brand {
    font-weight: 450;
    font-size: 1.8rem;
    height: 30px;
  } */
  .intro {
    margin-top: 195px;
  }
  .intro h2 {
    font-size: 48px;
  }
  .intro p {
    font-size: 22px;
  }
  .file-input-cover {
    width: 550px;
  }
}

@media (max-width: 920px) {
  /* header.main-header {
    min-height: 770px;
  }
  li a {
    font-size: 17px;
    font-weight: 500;
    width: 100px;
  }
  
  .nav-menu {
    justify-content: space-around;
    gap: 70px;
  }
  
  .nav-brand {
    font-weight: 470;
    font-size: 1.6rem;
  } */
  .intro {
    margin-top: 170px;
  }
  .intro h2 {
    font-size: 43px;
  }
  .intro p {
    font-size: 20px;
  }
  .upload-text {
    font-size: 30px;
    font-weight: 620;
  }
  
  .upload-image-cam {
    width: 25px;
  }
  
  .file-input-cover {
    width: 500px;
    height: 82px;
  }
  
  .upload {
    display: flex;
    gap: 20px;
  }
}
/* @media (max-width: 890px) {
  li a {
    font-weight: 520;
  }
  
  .nav-menu {
    gap: 43px;
  }
} 
header {
   
  width: 100%;
}
*/

@media (max-width: 480px) {
  .upload-text {
    width: 116px;
    height: 24px;
    font-size: 16px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #323337;
    /* margin-top: auto; */
    text-align: justify;
  }
  .intro {
    width: 356px;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    size: 36px;
  }
  .intro h2 {
    width: 356px;
    height: 96px;
    text-align: center;
    align-items: center;

    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    display: flex;
  }

  .intro p {
    width: 364px;
    height: 48px;
    text-align: center;

    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .container {
    position: relative;
  }
  .file-input {
    position: absolute;
    background-color: transparent;
    color: #323337;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 356px;
    height: 72px;
    z-index: 0;
  }

  .file-input-cover {
    background-color: #ffff;
    color: black;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    width: 356px;
    height: 72px;
    bottom: 50px;
    z-index: 0;
  }
  .upload-image-cam {
    width: 20px;
    height: 20px;
  }

  .generatediv {
    text-align: center;
  }

  .generatebtn {
    align-items: center;
    background-color: #3250ec;
    /* margin-top: 4px; */
    width: 356px;
    /* height: 12px; */
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
  }

  .hide-img {
    display: none;
  }
  .icons {
    margin-top: 80px;
    margin-left: 18px;
  }

  .recent-1 {
    margin-left: 12px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
  }
  /* The image preview is not fitting on mobile view */
  .header-recent-name {
    padding-top: 4px;
  }
  .file-input {
    text-align: center;
    width: 256px;
  }
  .file-input-cover {
    width: 256px;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
  }
  .generatebtn {
    width: 256px;
    justify-content: center;
    align-items: center;
  }
}