header.main-header {
  background-color: #232330;
  min-height: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  padding-top: 4.5em;
}
.sub-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.intro {
  margin-top: 116px;
  text-align: center;
}
.intro h2 {
  color: #ffff;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;  
}
.intro p {
  color: #ffff;
  text-align: center;
  margin-top: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.container {
  position: relative;
}

.upload-text {
  width: 229px;
  height: 48px;
  font-size: 36px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  color: #323337;
  margin-left: 16px;
  /* margin-top: auto; */
}

.upload-image-cam {
  width: 28px;
  height: 24px;
}

.file-input {
  position: absolute;
  background-color: transparent;
  color: #323337;
  border-radius: 4px;
  display: inline-block;
  top: 0;
  left: 0;
  width: 600px;
  height: 84px;
  cursor: pointer;
  opacity: 0;
}

.file-input-cover {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #ffff;
  color: black;
  width: 600px;
  height: 84px;
  border-radius: 4px;
  cursor: pointer;
}

.upload {
  display: flex;
  color: white;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 136px;
  justify-content: center;
  gap: 14px;
}

.recent {
  display: flex;  
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 8em;
  width: 100%;
}
.recent img {
  width: 56px;
}
.icons {
  display: flex;
  flex-direction: column;  
  width: 65%;  
  /* align-items: center; */
  justify-content: center;
}

.recent-1 {
  font-size: 30px;
  font-weight: 600;  
  margin-bottom: 36px;
  color: #AEAEAE;
}

/* .generatediv{
    background-color: #3250EC;
    background-color: green;
    border: none;
    padding: 12px 32px;
    border-radius: 4px;
    cursor: pointer;
} */

.generatebtn {
  justify-content: center;
  align-items: center;
  background-color: #3250ec;
  color: #ffff;
  border: none;
  padding: 30.7px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  display: flex;

}
@media (max-width: 1345px) {
.recent {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6.2em;
  width: 100%;
}
.recent img {
  width: 56px;
}
.icons {
  display: flex;
  flex-direction: column;  
  width: 65%;  
  align-items: center;
  justify-content: center;
}

.recent-1 {
  font-size: 24px;
  font-weight: 600;  
  margin-bottom: 36px;
  color: #AEAEAE;
}
}
@media (max-width: 1200px) {
  .recent {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5.9em;
    width: 100%;
  }
  .icons {
    display: flex;
    flex-direction: column;  
    width: 72%;  
    align-items: center;
    justify-content: center;
  } 
}

/*@media (max-width: 1024px) {
   li a {

    font-size: 21px;
    width: 75px;
  }
  
  .nav-menu {
    justify-content: space-around;
    gap: 60px;
  }
  
  .nav-brand {
    font-weight: 450;
    font-size: 1.8rem;
    height: 30px;
  } 
  .intro {
    margin-top: 116px;
    text-align: center;
  }
  .intro h2 {
    color: #ffff;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;  
  }
  .intro p {
    color: #ffff;
    text-align: center;
    margin-top: 18px;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
  }
  .file-input-cover {
    width: 450px;
  }
  .recent {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;
    width: 100%;
  }
  .recent img {
    width: 44px;
  }
  .icons {
    display: flex;
    flex-direction: column;  
    width: 65%;  
    align-items: center;
    justify-content: center;
  }
  
  .recent-1 {
    font-size: 20px;
    font-weight: 600;  
    margin-bottom: 36px;
    color: #AEAEAE;
  }
  
}
*/

/*@media (max-width: 920px) {
    header.main-header {
    min-height: 770px;
  }
  li a {
    font-size: 17px;
    font-weight: 500;
    width: 100px;
  }
  
  .nav-menu {
    justify-content: space-around;
    gap: 70px;
  }
  
  .nav-brand {
    font-weight: 470;
    font-size: 1.6rem;
  }
  .intro {
    margin-top: 106px;
    text-align: center;
  }
  .intro h2 {
    color: #ffff;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;  
  }
  .intro p {
    color: #ffff;
    text-align: center;
    margin-top: 18px;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }
  .recent {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4em;
    width: 100%;
  }
  .recent img {
    width: 44px;
  }
  .icons {
    display: flex;
    flex-direction: column;  
    width: 65%;  
    align-items: center;
    justify-content: center;
  }
  
  .recent-1 {
    font-size: 18px;
    font-weight: 600;  
    margin-bottom: 36px;
    color: #AEAEAE;
  }

  .upload-text {
    font-size: 30px;
    font-weight: 620;
  }
  
  .upload-image-cam {
    width: 25px;
  }
  
  .file-input-cover {
    width: 400px;
    height: 82px;
  }
  
  .upload {
    display: flex;
    gap: 20px;
  }
}*/
/* @media (max-width: 890px) {
  li a {
    font-weight: 520;
  }
  
  .nav-menu {
    gap: 43px;
  }
} 
header {
   
  width: 100%;
}
*/
@media (max-width: 845px){
.intro {
  margin-top: 95px;
  text-align: center;
}
/* .intro h2 {
  color: #ffff;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;  
}
.intro p {
  color: #ffff;
  text-align: center;
  margin-top: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  
} */
.recent {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4em;
  width: 100%;
}
.recent img {
  width: 44px;
}
.icons {
  display: flex;
  flex-direction: column;  
  width: 70%;  
  align-items: center;
  justify-content: center;
}

.recent-1 {
  font-size: 18px;
  font-weight: 600;  
  margin-bottom: 36px;
  color: #AEAEAE;
}
}

@media (max-width: 768px) {
.file-input-cover {
  width: 350px;
  z-index: 50;
}
.upload {
  display: flex;
  color: white;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 136px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  flex-direction: column;
  width: 80%;
}
.generatebtn {
  justify-content: center;
  align-items: center;
  background-color: #3250ec;
  color: #ffff;
  border: none;
  padding: 1em 5.1em;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  display: flex;
}

.recent {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 3em;
  width: 100%;
}
.recent-1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 36px;
  color: #AEAEAE;
  width: 100%;
}


}
@media (max-width: 480px) {
  .upload-text {
    width: 116px;
    height: 24px;
    font-size: 16px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #323337;
    /* margin-top: auto; */
    text-align: justify;
  }
  .intro {
    margin-top: 30px;
    text-align: center;
  }
  .intro h2{
    font-size: 36px;
  }
  .intro p{
    font-size: 16px;
  }
  /* .intro h2 {
    color: #ffff;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;  
  }
  .intro p {
    color: #ffff;
    text-align: center;
    margin-top: 0;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
  } */
  .recent {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.3em;
    width: 100%;
  }
  .recent img {
    width: 28px;
  }
  .icons {
    display: flex;
    flex-direction: column;  
    width: 80%;  
    align-items: center;
    justify-content: center;
  }
  
  .recent-1 { 
    font-size: 16px;
    font-weight: 600;  
    margin-bottom: 36px;
    color: #AEAEAE;
  }
    .container {
    position: relative;

  }
  .file-input {
    position: absolute;
    background-color: transparent;
    color: #323337;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 356px;
    height: 72px;
    z-index: 0;
    padding: 0;
    margin: 0;
  }

  .file-input-cover {
    background-color: #ffff;
    color: black;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    /* padding: 12px 0; */
    width: 156px;
    height: 72px;
    bottom: 50px;
    z-index: 0;
  }
  .upload-image-cam {
    width: 20px;
    height: 20px;
  }

  .generatediv {
    text-align: center;
  }

  .generatebtn {
    align-items: center;
    background-color: #3250ec;
    /* margin-top: 4px; */
    width: 356px;
    /* height: 12px; */
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
  }

  .hide-img {
    display: none;
  }
  .icons {
    margin-top: 80px;
    margin-left: 18px;
  }

  .recent-1 {
    margin-left: 12px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
  }
  /* The image preview is not fitting on mobile view */
  .header-recent-name {
    padding-top: 4px;
  }
  .file-input {
    text-align: center;
    width: 256px;
  }
  .file-input-cover {
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
  }
  .generatebtn {
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
  }
/* }
@media (max-width: 410px){
.recent {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.0em;
  width: 100%;
}
.recent img {
  width: 24px;
}
.icons {
  display: flex;
  flex-direction: column;  
  width: 80%;  
  align-items: center;
  justify-content: center;
}

.recent-1 {
  font-size: 16px;
  font-weight: 600;  
  margin-bottom: 36px;
  color: #AEAEAE;
}
.file-input-cover {
  width: 168px;
  justify-content: center;
  align-items: center;
  margin-left: 48px;
}
.generatebtn {
  width: 88px;
  justify-content: center;
  align-items: center;
}
}
@media (max-width: 362px){
  .recent {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.0em;
    width: 100%;
  }
  .recent img {
    width: 20px;
  }
  .icons {
    display: flex;
    flex-direction: column;  
    width: 80%;  
    align-items: center;
    justify-content: center;
  }
  
  .recent-1 {
    font-size: 12px;
    font-weight: 600;  
    margin-bottom: 36px;
    color: #AEAEAE;
  }
  .file-input-cover {
    width: 180px;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
  }
  .generatebtn {
    width: 92px;
    justify-content: center;
    align-items: center;
  }
  }

  @media (max-width: 326px){
    .recent {
      display: flex;  
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2.0em;
      width: 100%;
    }
    .recent img {
      width: 17px;
    }
    .icons {
      display: flex;
      flex-direction: column;  
      width: 80%;  
      align-items: center;
      justify-content: center;
    }
    
    .recent-1 {
      font-size: 10px;
      font-weight: 600;  
      margin-bottom: 36px;
      color: #AEAEAE;
    } */
    /* }
    @media (max-width: 300px){
      .recent {
        display: flex;  
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.7em;
        width: 100%;
      }
      .recent img {
        width: 16px;
      }
      .icons {
        display: flex;
        flex-direction: column;  
        width: 80%;  
        align-items: center;
        justify-content: center;
      }
      
      .recent-1 {
        font-size: 10px;
        font-weight: 600;  
        margin-bottom: 36px;
        color: #AEAEAE;
      }
      }
      @media (max-width: 270px){
        .recent {
          display: flex;  
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 1.5em;
          width: 100%;
        }
        .recent img {
          width: 16px;
        }
        .icons {
          display: flex;
          flex-direction: column;  
          width: 85%;  
          align-items: center;
          justify-content: center;
        }
        
        .recent-1 {
          font-size: 10px;
          font-weight: 600;  
          margin-bottom: 36px;
          color: #AEAEAE;
        }
        .file-input-cover {
          width: 184px;
          justify-content: center;
          align-items: center;
          margin-left: 48px;
        }
        .generatebtn {
          width: 92px;
          justify-content: center;
          align-items: center;
        } */
        }