@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  /* outline: solid 2px red; */
}
:root {
  --backgrouncolor: #ffffff;
  --fontFam: "Nunito Sans";
  --btncolor: #3250ec;
  --btncolor2: #d6dcfb;
  --radius: 4px;
  --gap: 4px;
  --mobilewidth: 84%;
  --eyecolor: #99999b;
  --inputbordercolor: #76777a;
  --regularfontweight: 400;
  --dark: #191a1c;
  --regularFontSize: 0.96rem;
  --transit: all 0.3s linear;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-weight: var(--regularfontweight);
  font-family: var(--fontFam);
  background-color: var(--backgrouncolor);
  color: var(--dark);
  font-size: var(--regularFontSize);
 overflow-y: hidden;
 accent-color: #3250ec;
}
header#mbile {
  margin: 0% auto;
  margin-top: 3em;
  width: 100%;
  padding: 1em 0em;
  
}
header h1{
  font-size: 4rem !important; 
  line-height: 64px;
  font-weight: 600;
  font-style: normal;
}
header#mbile p {
  transition: none;
  padding-top: 0.8em;
  font-size: 1.2rem;
  color: rgb(41, 49, 58);
}
small.down-mobile {
  font-size: 1.6rem;
}
header#mbile p small a {
  text-decoration: none;
  color: var(--btncolor);
}
.form {
  display: flex;
  flex-direction: column;
  padding: .8em 3em;
  position: relative;
  width: 60em;
  margin-right: 0;
  margin: 0% auto;
  margin-top: 4em;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1.6em;
  transition: all 0.4s ease-in-out
  
}
.field {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.field input {
  padding: .8em 0.8em;
  border-radius: var(--radius);
  border: 0.8px solid var(--eyecolor);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.field label {
  display: none;
  padding-left: 0.08em;
}
.field input:focus {
   outline: none;
  box-shadow: 0.2px 0px 2px 1.5px rgba(45, 73, 235, 0.25);
  border: 0.4px solid var(--btncolor); 
 border-radius: 8px;
  transition: all 0.2s ease-out;
  caret-color: #3250ec;
}
.field input::placeholder {
  display: flex;
  letter-spacing: 0.08em;
  justify-content: center;
  align-items: flex-start;
  color: var(--eyecolor);
  font-size: 14px;
  line-height: 20px;
}
.messages {
  color: red;
  font-style: italic;
  padding-top: 0;
  margin-top: -1em;
}
.rem-pass {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 0em;
  line-height: 20px;
  font-size: 1.2rem;
}
.checkbox-field {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5em;
  align-content: center;
  align-items: center;
}
.checkbox-input {
  accent-color: #3250ec;
  outline: none;
  width: 20px;
  height: 20px;
  border: .4px solid var(--eyecolor);
}
.pass{
  display: block;
  right: 2.8em;
  position: absolute;
  bottom: 21em !important;
  font-size: 1.2rem;
   }
.pass p a {
  text-decoration: none;
  color: var(--btncolor);
}
.field.error input{
  outline: none;
  border: none;
  border: .4px solid hsl(0, 100%, 74%);
}
.field.success inout{
  outline: none;
 box-shadow: 0.2px 0px 2px 1.5px rgba(45, 73, 235, 0.25);
 border: 0.4px solid var(--btncolor); 
border-radius: 8px;
 transition: all 0.2s ease-out;
 caret-color: #3250ec;
}
.field small{
  color: hsl(0, 100%, 74%);
 }
.butns {
  display: flex;
  flex-direction: column;
  padding: 0em 0em;
  margin: 1em 0em;
  gap: 1.5em;
  width: 100%;
}
#submit {
  width: 100%;
  padding: 1em 0em;
  border: none;
  background-color: var(--btncolor);
  /* box-shadow: 1px 2px 5px 0.5px rgba(45, 73, 235, 0.5); */
  font-weight: 600;
  color: #fcfcff;
  border-radius: var(--radius);
  letter-spacing: 0.02em;
  font-size: 1.5rem;
  line-height: 20px;
  cursor: pointer;
 
}
#submit:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 12px 16px rgba(150, 150, 209, 0.253);
}
 #submit:visited {
  background-color: #21359d;
  box-shadow: inset 0px 1px 12px rgba(67, 92, 221, 0.13);
}
.txt-lines {
  position: relative;
  display: block;
  text-align: center;
  max-width: 100%;
  margin: 10px auto;
  margin-top: 3.5em;
  color: var(--eyecolor);
}
.txt-lines::before {
  content: " ";
  display: block;
  height: 0.8px;
  width: calc(28em / 2);
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0.5;
  transform: translateX(-123%);
  background: var(--inputbordercolor);
}
.txt-lines::after {
  content: " ";
  display: block;
  height: 0.8px;
  width: calc(28em / 2);
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 0.5;
  transform: translateX(123%);
  background: var(--inputbordercolor);
}

.butn2,
.butn3 {
  width: 100%;
  padding: 1em 0em;
  border: none;
  background-color: var(--btncolor2);
  /* box-shadow: 0px -1px 8px .3px rgba(45, 73, 235, 0.4); */
  cursor: pointer;
  color: var(--dark);
  border-radius: var(--radius);
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  gap: 1.6em;
  position: relative;
}
.butn2:hover,.butn3:hover {
  
  background-color: #fcfcff;
  border: 1px solid #3250ec;
  transition: all 0.2s ease-out;
}
.butn2:visited,.butn3:visited{
  box-shadow: inset 4px 4px 12px rgb(152, 167, 245, 0.25);
 background-color: #d6dcfb;
 border: 1px solid #3250ec;
}
button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}
.fa-facebook {
  color: var(--btncolor);
  font-size: 24px;
  position: absolute;
  left:25%;
  transform: translateY(-50%);
 
}
.fa-github{
  font-size: 24px;
  position: absolute;
  left:25%;
  transform: translateY(-50%);
}
img.google {
  position: absolute;
  transform: translateY(-50%);
  left: 25%;
  width: 20px;
  height: 20px;
}
#togglePassword {
  display: inline;
  position: absolute;
  font-size: 1.3rem;
  top: 35%;
  right: 0;
  padding-right: 0.8em;
   color: var(--eyecolor);
}
#hide1  {
  cursor: pointer;
  
}
.eyes{
  transform: scaleX(-1);
}
@media only screen and (max-width: 768px) and (min-width: 200px) {
  body {
  overflow-y: hidden;
    margin: 0;
    padding: 0;
  }
  
header#mbile{
      margin-top: 5.8em;
   width: 100%;
    padding: 0em 0em;
    padding-bottom: .8em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
  }
  header h1{
    font-size: 1.44rem;
    line-height: 32px;
    font-weight: 700;
    font-style: normal;
  }
  .form {
    position: relative;
     width: var(--mobilewidth); 
    padding: 0;
    margin: 0 auto;
    margin-top: 2em;
  }
 
  .pass{
    display: block;
    right: .4em;
    position: absolute;
    bottom: 20.5em !important;
     }
     .txt-lines{
      margin-top: 3.5em;
     }
  .txt-lines::before{
    height: 0.4px;
    width: 13.5em;
  }
  .txt-lines::after{
    height: 0.4px;
    width: 13.5em;
  }
  i.fa-brands {
    color: var(--btncolor);
    font-size: 24px;
    position: absolute;
    left: 16%;
    transform: translateY(-50%);
   
  }
  img.google {
    position: absolute;
    transform: translateY(-50%);
    left: 16%;
    width: 20px;
    height: 20px;
  }
  
}
@media only screen and (max-width: 400px){
  .txt-lines::before{
    height: 0.4px;
    width: 10.5em;
  }
  .txt-lines::after{
    height: 0.4px;
    width: 10.5em;
  }
  i.fa-brands {
    color: var(--btncolor);
    font-size: 24px;
    position: absolute;
    left: 13%;
    transform: translateY(-50%);
   
  }
  img.google {
    position: absolute;
    transform: translateY(-50%);
    left: 13%;
    width: 20px;
    height: 20px;
  }
}