* {
  margin: 0;
  padding: 0;
}
form {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50% -50%);
}
header,
p {
  margin-top: 1rem;
}
header,
a {
  position: relative;
  left: 1%;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: blue;
}
a:active {
  text-align: none;
}
.frm {
  margin-top: 2em;
  position: relative;
  left: 1.5em;
}
label {
  display: block;
  margin-top: 0.5em;
  text-align: justify;
}
input {
  padding: 0.3em;
  border: solid 1px;
  width: 25em;
}
.butn1 {
  margin-top: 2em;
  text-align: center;
  background-color: #3250ec;
  color: white;
  border-radius: 3px;
  height: 2em;
  width: 95%;
  position: relative;
  right: 2em;
}
.field,
i {
  position: relative;
  right: 24px;
  transform: translate(0 -50%);
  top: 76.5%;
  cursor: pointer;
}
