* {
  width: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  position: absolute;
  top: 10%;
  left: 32%;
  transform: translate(-50% -50%);
  background-color: #ffff;
}
.desktop-display1{
  display: block;
}
.mobile-display1{
  display: none;
}
h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  position: relative; left: 3%;
}
.butn2, .butn3, p{
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
small{
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  position: relative; left: 6%;
}
header,
p {
  margin-top: 1rem;
  position: relative; right: 30%;
}
header,
a {
  position: relative;
  left: 1%;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: blue;
}
a:active {
  text-align: none;
}
.frm {
  margin-top: 2em;
  position: relative;
  left: 1.5em;
}
label {
  display: none;
  margin-top: 0.5em;
  text-align: justify;
  
}
input {
  padding: 0.3em;
  border: solid 1px grey;
  width: 30em;
  border-radius: 3px;
  margin: 0.5em;
  height: 2.5em;
  box-shadow: 0px 0.5px 0px 0px gray;
}
::placeholder{
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
}
.butn1 {
  margin-top: 2em;
  text-align: center;
  background-color: #3250ec;
  color: white;
  border-radius: 3px;
  height: 2em;
  min-width: 97%;
  position: relative;
  right: -0.5em;
  box-shadow: 0px 2px 5px gray;
}
.butn1:hover {
  cursor: pointer;
  background-color: transparent;
  color: blue;
  transition: 0.5s;
  border: solid 2px grey;
}
.txt-lines {
  position: relative;
  right: 0em;
  display: block;
  text-align: center;
  max-width: 30px;
  margin: 15px auto;
  color: lightsteelblue;
}
.txt-lines::before {
  content: " ";
  display: block;
  height: 0.8px;
  width: 15em;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-123%);
  background: lightsteelblue;
}
.txt-lines::after {
  content: " ";
  display: block;
  height: 0.8px;
  width: 15em;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(123%);
  background: lightsteelblue;
}

.butn2,
.butn3 {
  min-width: 97%;
  padding: 0.4em 0em;
  border: none;
  margin: 1em;
  background-color: hsl(230,82%,91%);
  font-weight: 700;
  border-radius: 1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  gap: 50%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  position: relative;
  right: 0.5em;
}
.butn3 {
  height: 2em;
}
.butn2{
  height: 3em;
  right: 0.2em;
}
.butn2:hover {
  transform: translateY(-5px);
  cursor: pointer;
  background-color: transparent;
  color: blue;
  border: solid 2px grey;
  box-shadow: 0px 2px 5px gray;
  transition: 0.5s;
}

.butn3:hover {
  transform: translateY(-5px);
  cursor: pointer;
  background-color: transparent;
  color: blue;
  border: solid 3px grey;
  box-shadow: 0px 2px 5px gray;
  transition: 0.5s;
}
button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}
i.fa-brands {
  color: blue;
  font-size: 16px;
  position: absolute;
  left:25%;
  transform: translateY(-50%);
}
img.google {
  position: absolute;
  transform: translateY(-50%);
  left: 25%;
  width: 16px;
  height: 16px;
}
.github{
  position: absolute;
  transform: translateY(-50%);
  left: 25%;
  width: 20px;
  height: 20px;
}
.mobile-display {
  display: none;
}

.desktop-display {
  display: block;
}
#togglePassword {
  display: inline;
  position: absolute;
  font-size: 1.3rem;
  top: 35%;
  right: 0;
  padding-right: 0.7em;
  cursor: pointer;
}
#hide1 {
  cursor: pointer;
}
.butn2, p{
  font-size: 10px;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}
.eyes{
  color: grey;
  transform: scaleX(-1);
}
@media (max-width: 750px) {
  * {
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px red;
  }
  form {
    width: 80%;
    position: relative;
    left: 4%;
  } 
  input {
    width: 100%;
    height: 3em;
  }
  .eyes{
    display: none;
    position: relative;
    left: 1%;
    transform: translate(0 -30%);
    top: -0.9em;
  }
  .txt-lines{
    font-size: 13px;
    position: relative; left: 5%;
  }
  .txt-lines::before {
    width: 7.5em;
  }
  h1{
    margin-top: 3em;
    font-size: 17px;
    position: relative; left: 19%;
  }
  p{
    left: -4%;
  }
  .txt-lines::after {
    width: 6em;
  }
  .fa-brands {
    position: relative;
    top: 65%;
    left: -3%;
  }
  .desktop-display {
    display: none;
  }
  .mobile-display {
    display: block;
  }
  .mobile-display, small{
    position: relative;
    left: 15%;
  }
  .mobile-display1{
    display: block;
  }
  .desktop-display1{
    display: none;
  }
  .butn1{
    height: 3em;
  }
  .butn2{
    height: 4em;
    gap: 7em;
  }
  .butn3{
    height: 3em;
    gap: 5em;
  }
  small{
    left: -5%;
    font-size: 12px;
    font-weight: 600;
  }
}
