@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  /* outline: solid 2px red; */
}
:root{
  --transit: all 0.3s linear;
}
section.modal {
  border: 1px solid #545558;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  background: #ffffff;
  border-radius: 8px;
  width: 50%;
  padding: 4em 2.5em;
  display: none; /* this will be 'flex' after successful upload else 'none' */
  justify-content: center;
  gap: 2.5rem;
  transition: var(--transit);
  animation: fadein .4s 1s forwards ease-out;
  opacity: .2;
}
.close-modal{
  position: absolute;
  top: 2%;
  padding: .05em .4em;
  left: 95%;
  font-weight: 700;
  font-size:2rem;
  border: 1px solid #3250ec;
  border-radius: 2px;
  cursor: pointer;
  color: #3250ec;
  position: absolute;
  background-color: #f5f5f5;
  transform: translate (-50%, -0%); 
}
.close-modal:hover{
  background-color: #3250ec;
  color: #ffffff;
  border: none;
  transition: all .3s ease-out;
}
.modal-left form h3 {
  padding-left: .4em;
  font-size: 1.5rem;
  color: #0a0a0b;
}
.modal-left form small {
  padding-left: .6em;
  font-size: 0.84rem;
  color: #111b4f;
  letter-spacing: 0.08em;
  line-height: 20px;
}
.modal article {
  width: 45%;
}
.modal-left{
  width: calc(100%/2);
  /* border: 1px solid red; */
}
.modal-right {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: calc(100%/2);
  font-size: 1.2rem;
  text-align: right;
  background: #ffffff;
  border-radius: 14px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.08em;
 

}
.modal-right-hds {
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f5f5f5;
  height: 3em;
  width: 90%;
  padding: 0 1.5em;
}
.prev-board{
padding: 1em;
  height: 14em;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
}
.child1,
.child2 {
  font-size: 0.72rem;
  border: none;
  border-radius: 2px;
  padding: .4em .6em;
  background: transparent;
}
.child1:hover,
.child2:hover {
 border: 1px solid #a7c6ff;
 border-radius: 3px;
 font-size: 0.8rem;
  transition: all 0.3s linear;

}
.hidden{
  display: none;
}
.active-toggle{
  background-color: #a7c6ff;
  transition: all ease-in-out;
}
.ex-right-btns {
  display: flex;
  align-items: start;
  column-gap: 1.5em;
}
form h3 {
 color: #111b4f;
 font-weight: 600;
 font-size: 1.44rem;
 line-height: 32px;
  margin-bottom: 0.5em;
}

.sizes-chb {
  margin: 0.5em 0 2em 0;
  display: flex;
  padding: 0em .6em;
  flex-direction: column;
}
.sizes-chb label {
  font-size: 1.5rem;
}
.sizes-chb label:not(.s16) {
  margin-top: 0.5em;
}
.sizes-chb label span {
  margin-left: 0.6em;
  color: rgba(0, 0, 0, 0.65);
}

.cp-dwld-icons h4 {
  padding: 1em .6em;
  text-align: center;
  margin-bottom: 1em;
  color: #191a1c;
  font-size: 1.08rem;
  font-weight: 700;
  line-height: 24px;
}
.cp-space {
  padding: 1em 0em;
  margin: 0em .6em;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: scroll;
  scrollbar-color: #3250ec; 
  font-size: 0.8rem;
  background: #ddd;
  color: #545558;
  border-radius: 4px;
  text-align: center;
}
.cp-space::-webkit-scrollbar {
  display: none;
}
.down-btns {
  margin: 0em .6em;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
.down-btns > * {
  font-size: 1.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: .4em 2.6em; */
  width: 47%;
  height: 3.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.down-btn-pri {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3250ec;
  font-size: 1.08rem;
  color: #f5f5f5;
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 24px;
  border-radius: 4px;
}

.down-btn-grey:hover{
  box-shadow: inset 4px 4px 12px rgb(152, 167, 245, 0.25);
 background-color: #f5f5f5;
 color: #21359d;
  border: 1px solid #3250ec;
  padding: .6em 0em;
  font-size: 1.2rem;
  transition: all 0.3s ease-in;
}
.down-btn-pri:hover{
  transition: all 0.3s ease-in;
  box-shadow: 0px 12px 16px rgba(150, 150, 209, 0.253);
   padding: .6em 0em;
   font-size: 1.2rem;
}
.down-btn-pri:visited{
  background-color: #21359d;
  box-shadow: inset 0px 1px 12px rgba(67, 92, 221, 0.13);
}
.fa-magnifying-glass{
  display: inline;
  padding-left: 0;
  font-size: 1.08rem;
}
.down-btn-grey {
  background: #98999b;
  font-size: 1.08rem;
  color: #f5f5f5;
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 24px;
  border-radius: 4px;
}
@keyframes fadein {
  0% {
      opacity: 0;
      transform: scale();
  }

  100% {
      opacity: 1;
  }
}
@keyframes fadeup {
  0% {
      transform: translateY(50px);
  }

  100% {
      opacity: 1;
  }
}
@media  (min-width: 769px) and (max-width:1024px){
  section.modal {
    width: 80%;
  }

  
}
@media (max-width: 768px) {
  section.modal {
    width: 90%;
    flex-direction: column;
    transform: translate(-50%, -50%);
  }
  .modal article {
    width: 100%;
  }
.modal-left{
  height: 60%;
}
  .modal-right {
   
    min-height: 50%;
  }
  .prev-board{
    padding-bottom: 2em;
  }
}
