@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  /* outline: solid 2px red; */
}
:root {
  --transit: all 0.3s linear;
}

.prettyprint::-moz-selection {
  color: #ffffff;
  background-color: #3250ec;
}
.prettyprint::selection {
  color: #ffffff;
  background-color: #3250ec;
}

section.modal {
  border: 1px solid #545558;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  background: #ffffff;
  border-radius: 8px;
  width: 50%;
  padding: 5em 2.5em;
  display: none; /* this will be 'flex' after successful upload else 'none' */
  justify-content: center;
  gap: 2rem;
  transition: var(--transit);
  animation: fadeup 1s forwards linear;
  opacity: 0.5;
  z-index: 10;
}
.close-modal {
  position: absolute;
  top: 10%;
  right: 80%;
  font-size: 2rem;
  cursor: pointer;
  color: #98999b;

  transform: translate (-50%, -0%);
}
.close-modal1 {
  position: absolute;
  top: 10%;
  left: 80%;
  font-size: 2rem;
  cursor: pointer;
  background-color: #ffffff;
  color: #191a1c;
  border-radius: 50%;
  transform: translate (-50%, -0%);
}
.close-modal:hover {
  color: #3250ec;
  opacity: 0.7;
  border: none;
  transition: all 0.3s ease-out;
}
.modal-left .heading {
  display: flex;
  flex-direction: column;
  padding-left: 1.2em;
}
.modal-left form h3 {
  font-weight: 600;
  line-height: 32px;
  font-size: 2rem;
  color: #0a0a0b;
}
.modal-left form small {
  color: #0a0a0b;
  font-size: 1.2rem;
  letter-spacing: 0.08em;
  line-height: 20px;
}

.modal article {
  width: 45%;
}
.modal-left {
  width: calc(100% / 2);
  /* border: 1px solid red; */
}
.modal-right {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: calc(100% / 2);
  font-size: 1.2rem;
  text-align: right;
  background: #ffffff;
  border-radius: 14px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.08em;
}

.modal-right-hds {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.4px solid #98999b;
  height: 3em;
  width: 90%;
  padding: 0 0.8em;
}
.prev-board {
  padding: 1em;
  height: 18em;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 0.4px solid #98999b;
  border-radius: 4px;
}
.child1,
.child2 {
  font-weight: 400;
  font-size: 0.7rem;
  border: none;
  border-radius: 2px;
  padding: 0em 0.75em;
  color: #191a1c;
}
.child1:hover,
.child2:hover {
  border: 1px solid #a7c6ff;
  border-radius: 3px;
  font-size: 0.8rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.hidden {
  display: none;
}
.active-toggle {
  background-color: hsla(219, 100%, 83%, 0.911);
  transition: all ease-in-out;
}
.ex-right-btns {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  column-gap: 1.5em;
}

.size-icon,
.apple {
  accent-color: #3250ec;
  cursor: pointer;
  font-size: 2rem;
}
input[type="checkbox"] {
  transform: scale(2);
}
.sizes-chb {
  margin: 0.5em 0 2em 0;
  margin-top: 2em;
  display: flex;
  padding: 0em 1.6em;
  flex-direction: column;
  cursor: pointer;
}
.sizes-chb label {
  font-size: 1.8rem;
}
.sizes-chb label:not(.s16) {
  margin-top: 0.8em;
}
.sizes-chb label .cb {
  margin-left: 1em;
  color: rgba(0, 0, 0, 0.65);
}
.cp-dwld-icons {
  display: flex;
  flex-direction: column-reverse;
}
.cp-dwld-icons h4 {
  padding: 0.6em 0em;
  text-align: center;
  margin-bottom: 0.2em;
  color: #0a0a0b;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
}
pre #upl.prettyprint {
  padding: 2px;
  border: none !important;
  display: flex;
  outline: none;
  border: none;
  align-items: center;
  justify-content: flex-start;
  height: 3em;
  text-align: left;
  padding: 0em 0em !important;
  margin: 0em 1em;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: scroll;
  scrollbar-color: #3250ec;
  font-size: 1.2rem;
  background-color: #f5f5f5;

  border-radius: 4px;
}
.prettyprint::-webkit-scrollbar {
  display: none;
}
.down-btns {
  margin: 0em 1em;
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.down-btns > * {
  font-size: 1.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: .4em 2.6em; */

  height: 3.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.down-btn-pri {
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3250ec;
  font-size: 1.08rem;
  color: #f5f5f5;
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 24px;
  border-radius: 4px;
  gap: 0.4em;
  cursor: pointer;
}
button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.08rem;
  color: #f5f5f5;
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;
}
.down-btn-grey:hover {
  box-shadow: inset 4px 4px 12px rgb(152, 167, 245, 0.25);
  background-color: #f5f5f5;
  color: #21359d;

  padding: 0.6em 0em;
  font-size: 1.2rem;
  transition: all 0.3s ease-in;
}
.down-btn-pri:hover {
  transition: all 0.3s ease-in;
  box-shadow: 0px 12px 16px rgba(150, 150, 209, 0.253);
  padding: 0.6em 0em;
  font-size: 1.2rem;
}
.down-btn-pri:visited {
  background-color: #21359d;
  box-shadow: inset 0px 1px 12px rgba(67, 92, 221, 0.13);
}
.fa-down-to-line {
  color: #f5f5f5;

  padding-left: 0;
}

.down-btn-grey {
  display: none;
  background: #ffffff;
  font-size: 1.08rem;
  color: #3250ec;
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid #3250ec;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale();
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeup {
  0% {
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  section.modal {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .prettyprint::-moz-selection {
    color: #ffffff;
    background-color: #3250ec;
  }
  .prettyprint::selection {
    color: #ffffff;
    background-color: #3250ec;
  }
  section.modal {
    width: 90%;
    flex-direction: column;
    transform: translate(-50%, -50%);
  }
  .modal article {
    width: 100%;
  }
  .modal-left .heading {
    padding-left: 2em;
  }
  .cp-dwld-icons {
    display: flex;
    flex-direction: column;
  }
  .modal-left form h3 {
    font-size: 2rem;
    color: #0a0a0b;
  }
  pre#upl.prettyprint {
    background-color: hsla(236, 100%, 83%, 0.664);
    font-size: 1.08rem;
  }
  .down-btns > * {
    font-size: 1.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: .4em 2.6em; */

    height: 3.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    gap: 2em;
  }
  .down-btn-grey {
    display: block;
    width: 44%;
  }
  .down-btn-pri {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3250ec;
    font-size: 1.08rem;
    color: #f5f5f5;
    width: 44%;
    font-weight: 800;
    letter-spacing: 0.02em;
    line-height: 24px;
    border-radius: 4px;
    gap: 0.4em;
    cursor: pointer;
  }
  .sizes-chb label {
    font-size: 2rem;
  }
  .sizes-chb label:not(.s16) {
    margin-top: 1em;
  }
  .sizes-chb label .cb {
    margin-left: 1em;
    color: rgba(0, 0, 0, 0.65);
  }
  .down-btns {
    margin: 0em 1em;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
  }
  input[type="checkbox"] {
    transform: scale(2.2);
  }
  .modal-left {
    height: 60%;
  }
  .modal-right {
    min-height: 50%;
  }
  .prev-board {
    padding-bottom: 2em;
  }
  .close-modal {
    top: 4%;
    right: 90%;
  }
}
