<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/center.css">
</head>
<body>
    <div>
        <img src="../static/images/brands.png" alt="">
    </div>
    <div class="container-2">
        <div>
            <h3 class="title-heading">
                What are Favicons?
            </h3>
            <p class="center-p">
                <span>Favicons are the little icons that appear next to the webpage title in a browser tab to represent 
                a website or web page. </span><br>
                It serves as a visual identifier for users to spot your website around the web.
            </p>
        </div>
        <div class="empty">
            <div>
            </div>
        </div>
    </div>  
    <div class="container-3">   
        <p class="center-p2">
            The easiest way to get the and use a favicon for your website
        </p>
    </div>
    <div class="container-4">
        <div>
            <div class="empty-2"></div>
        </div>
        <div>
            <p>
               <h3 class="container-4-header1"><span> 01.</span> Upload your file
            </h3>
            </p>
            <p class="container-4-p1">
                Select an image from your files from your files list <br> <small> (GIF, JPG, PNG, SVG).</small>
            </p>
            <div class="container-4-1">
                <p class="container-4-p2 all-started"> Get started</p>
            </div>
        </div>
    </div>
    <div class="container-5">
        <div class="container-5-div">
            <p>
               <h3 class="container-5-header1"><span> 02.</span> Generate favicon
            </h3>
            </p>
            <p class="container-5-p1">
                Generate selected icon and save them <br> easily <small> Don’t forget to copy the embedded code.</small>
            </p>
            <div class="container-5-1">
                <p class="container-5-p2  all-started"> Get started</p>
            </div>
        </div>
        <div>
            <div class="empty-3">
                <img src="../static/images/Rectangle 445.png" alt="">
            </div>
        </div>
    </div>
    <div class="container-6">
        <div>
            <div class="empty-4"></div>
        </div>
        <div>
            <p>
                <h3 class="container-6-header1"><span> 03.</span> Add it to your website
             </h3>
             </p>
             <p class="container-6-p1">
                Used saved icon file and upload them to your <br> websites.
            </p>
            <div class="container-6-1">
                <p class="container-6-p2"> Get started</p>
            </div>
        </div>
    </div>
    <div class="container-7">
        <div>
            <p class="container-7-p1">
                Why you need a Favicon?
            </p>
            <p class="container-7-p2">
                To help users easily recognise your tab and not having to waste time trying to read the tab name which can 
                improve user experience, to create a platform that allows users to generate 
                Favicons- both icons and related codes embed and many others.
            </p>
            <p class="container-7-p3">
                Learn more
            </p>
        </div>
    </div>
</body>
</html>