{% extends 'layout.html' %}

{% load static %}

{% block title %}ConfIcon | Contact Page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
{% endblock %}

{% block content %}


<a href="{% url 'home' %}">
    <label style="color: black; -webkit-text-stroke: 6px white;"><i class="fa-solid fa-arrow-left fa-5x"></i></label>
</a>

	<form method='post' action='' class="form">
		<header id="contact-head">
			<h1>Contact Us</h1>
			<p><small class="contact-title">We'd love to hear from you, please send us a message</small></p>
		</header>
        {% csrf_token %}

		<div class="cont-field">
			<input type="email" id="email" placeholder="Email Address" name='email' autofocus >
		</div>

		<div class="cont-field">
			<textarea placeholder="Message" class="field"></textarea>
		</div>

		<div class="cont-butns">
			<div class="cont-butn1">
				<button type='submit' id='submit'>Send</button>
			</div>
		</div>
	</form>

{% endblock %}
