{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact_sent.css' %}">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
{% endblock %}

{% block content %}

<div style="width: 15%; text-align: right; margin-top: 2em; padding-left: 10px;">
    <a href="{% url 'home' %}">
        <label style="color: black; -webkit-text-stroke: 1px white; width: 100%;"><i class="fa-solid fa-arrow-left fa-2x"></i></label>
    </a>
</div>

<div class="popup">
    <img src="../static/images/codicon_pass.png">
    <h2>Thank You!</h2>
    <p>Your message has been successfully sent, we will get back to you.</p>
    <button type="button">
        <a href="{% url 'home' %}">ok</a/>
    </button>
  </div>

  {% endblock %}
