{% if request.user.is_authenticated %}
<button class="close-modal22 hidden"><i class="fa-solid fa-xmark"></i></button>
<section class='modal2' id='modal2'>

    <button class="close-modal21"><i class="fa-solid fa-xmark"></i></button>
  
            <h3>favicon Downloaded</h3>

            <section class='cp-dwld-icons2'>
                <h4>Remember to Copy HTML code after generating favicon</h4>
                <div class="htmlcode2">
                    <pre class="prettyprint">
                        &lt;link rel="icon" type="images/x-icon" sizes="16x16 32x32 96x96 120x120 180x180 300x300 512x512" href="/favicon.ico"&gt;
                    </pre>
                </div>
                    <div class='down-btns2'>
                        <button class='down-btn-grey2' onclick="CopyToClipboard2('prettyprint')">Copy HTML</button>
                    </div>
            </section> 
</section>

{% endif %}