{% load static %}
<section class='femi-box'>
    <article class='femi-subbox femi-subbox-1'>
        <p style="font-size: 2.4em; line-height: 3.2em;">Favicon saved!</p>
        <p style="font-size: 1.8em; line-height: 2.4em;">Download favicon to device</p>
        <a class='btn' id='file-download' href="{{latest_icon.zip_file}}" download='favicon.zip' hidden></a>
        <a class='btn' id='original-download'>Download</a>
    </article>
    <article class='femi-subbox femi-subbox-2'>
        <img src="{% static 'images/xx.svg' %}" class='cancel-boxes fa fa-times'></i>
        <p style="font-size: 2.4em; line-height: 3.2em;">Favicon downloaded!</p>
        <span class='code'>
            <code>&lt;link rel='x-icon' sizes="{{request.session.my_sizes}}" href="favicon.zip"/&gt;</code>
        </span>
        <button class='btn' id='femi-copy-me'>Copy HTML</button>
    </article>
</section>
