<section id="About_Conficons">
    <div id="for_gap">
        <div>
            <h2>About Conficons</h2>
            <p>Conficon also known as "Convert Favourite Icons" was built by sets of amazing designers and
                developers to
                help users generate favicons from images and texts for free. Our vision is to be the world's leading
                favicon generator through our seamless creation process</p>
        </div>
        <div class="fav">
            <img src="images/Vector1.png" width="38px" height="42px" alt="">
            <img src="images/Vector2.png" width="38px" height="42px" alt="">
            <img src="images/Vector3.png" width="38px" height="42px" alt="">
            <img src="images/Vector4.png" width="38px" height="42px" alt="">
            <img src="images/Vector5.png" width="38px" height="42px" alt="">
        </div>
    </div>
</section>
<footer>
    <div id="footer_top">
        <div>
            <span><img src="images/Rectangle 2.png" width="px" height="" alt=""> onficon</span>
            <span class="spec">Get the right sized favicon for you</span>
            <div class="icons">
                <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.linkedln.com"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.twitter.com"><i class="fa-brands fa-twitter-square"></i></a>
                <a href="https://www.gmail.com"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
        <div id="footer_special">
            <div class="group">
                <h3>Company</h3>
                <a href="#">How it works</a>
                <a href="#">Generate</a>
                <a href="#">Contact</a>
                <a href="#">Sign Up</a>
                <a href="#">Login</a>
            </div>
            <div class="group">
                <h3>Resources</h3>
                <a href="#">Noun Project</a>
                <a href="#">Remix Icon</a>
                <a href="#">Wizlogo</a>
                <a href="#">Looka</a>
                <a href="#">lonos</a>
                <a href="#">Faviconit</a>
            </div>
            <div class="group">
                <h3>Tools</h3>
                <a href="#">Gjango Framework</a>
                <a href="#">MySQL Database</a>
                <a href="#">Figma</a>
                <a href="#">CSS</a>
                <a href="#">HTML</a>
            </div>
            <div class="group">
                <h3>Information</h3>
                <a href="#">Terms of Service</a>
                <a href="#">Privacy Policy</a>
                <a href="#">FAQ</a>
                <a href="#">Help</a>
                <a href="#">Support</a>
            </div>
        </div>
    </div>
    <div class="copyright">&copy; 2022 Conficon | All Rights Reserved.</div>
</footer>