<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Oswald:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="footer.css">
    <title>Footer</title>
</head>

<body>
    <section id="About_Conficons">
        <div>
            <h2>About Conficons</h2>
            <p>Conficon also known as "Convert Favourite Icons" was built by sets of amazing designers and developers to
                help users generate favicons from images and texts for free. Our vision is to be the world's leading
                favicon generator through our seamless creation process</p>
        </div>
        <div class="fav">
            <!-- <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-house"></i> -->
            <img src="images/icon-faculty.png" width="40" height="40" alt="">
            <img src="images/icon-departments.png" width="40" height="40" alt="">
            <img src="images/icon-research institute.png" width="40" height="40" alt="">
            <img src="images/icon-college of agric.png" width="40" height="40" alt="">
        </div>
    </section>
    <footer>
        <div id="footer_top">
            <div class="group">
                <h3>Resources</h3>
                <a href="#">Noun Project</a>
                <a href="#">Remix Icon</a>
                <a href="#">Wizlogo</a>
                <a href="#">Looka</a>
                <a href="#">lonos</a>
                <a href="#">Faviconit</a>
            </div>
            <div class="group">
                <h3>Tools</h3>
                <a href="#">Gjango Framework</a>
                <a href="#">MySQL Database</a>
                <a href="#">Figma</a>
                <a href="#">python</a>
                <a href="#">CSS</a>
                <a href="#">HTML</a>
            </div>
            <div class="group">
                <h3>Information</h3>
                <a href="#">Suppoer</a>
                <a href="#">Services</a>
                <a href="#">About</a>
            </div>
            <div>
                <h3>Contact</h3>
                <div class="icons">
                <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.linkedln.com"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.twitter.com"><i class="fa-brands fa-twitter-square"></i></a>
                <a href="https://www.gmail.com"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="copyright">&copy; Copyright 2018 Huddle. All rights reserved.</div>
    </footer>
    <script src="https://kit.fontawesome.com/9bd36ee156.js" crossorigin="anonymous"></script>
</body>

</html>
