{% load static %}
<section id="About_Conficons">
    <div id="for_gap">
        <div class="fav">
            <img src="{% static 'images/Vector1.png' %}" width="38px" height="42px" alt="">
            <img src="{% static 'images/Vector2.png' %}" width="38px" height="42px" alt="">
            <img src="{% static 'images/Vector3.png' %}" width="38px" height="42px" alt="">
            <img src="{% static 'images/Vector4.png' %}" width="38px" height="42px" alt="">
            <img src="{% static 'images/Vector5.png' %}" width="38px" height="42px" alt="">
        </div>
        <div>
            <h2>About Conficons</h2>
            <p>Conficon also known as "Convert Favourite Icons" was built by sets of amazing designers and
                developers to
                help users generate favicons from images and texts for free. Our vision is to be the world's leading
                favicon generator through our seamless creation process</p>
        </div>
    </div>
</section>
{% block footer_add %}
{% include 'addfooter.html' %}
{% endblock %}
