{% extends 'layout.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Welcome | ConfIcon{% endblock %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/center.css">
<link rel="stylesheet" href="../static/css/center-animations.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/center-animations.js' %}" defer></script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js" defer></script>
{% comment %} <script src="https://use.fontawesome.com/cb32fa7986.js" defer></script> {% endcomment %}
<script src="{% static 'js/copy.js' %}" defer></script>
<script src="{% static 'js/upload.js' %}" defer></script>
{% endblock %}

{% block header %}
{% include 'nav.html' %}
<header class='main-header' id="Go_up">

    {% include 'copy.html' %}


    <div class='sub-header'>
        <div class="intro">
            <h2>Get the right sized favicon for you</h2>
            <p>Upload your image or input your text to generate your favicon</p>
        </div>

        <form method='post' action="{% url 'upload' %}" class="upload" id='upload'>
            {% csrf_token %}
            <div class="container">
                <div class="file-input-cover">
                    <img src="{% static 'images/Vector.png' %}" alt="" class="upload-image-cam">
                    <h3 class="upload-text">Upload image</h3>
                </div>
                <span id='file-name'></span>

                <div class="upload-col">
                    <input type="file" name="file-input" id="file-input" class="file-input" accept='image/*' required />
                </div>
            </div>
            <div class="generatediv">
                <button type="submit" class="generatebtn">Generate</button>
            </div>
        </form>

        <div class="icons">
            <div class="recent">
             
                <img src="{% static 'images/Vector (1).png' %}" />
                <img src="{% static 'images/Vector (2).png' %}" />
                <img src="{% static 'images/Vector (3).png' %}" />
                <img src="{% static 'images/Vector (4).png' %}" />
                <img src="{% static 'images/Vector (5).png' %}" />
                <img src="{% static 'images/Vector (6).png' %}" />
                <img src="{% static 'images/Vector (7).png' %}" />
                <img src="{% static 'images/Vector (8).png' %}" />
                <img src="{% static 'images/Vector (9).png' %}" />
                <img src="{% static 'images/Vector (10).png' %}" />
                <img src="{% static 'images/Vector (11).png' %}" />
                <img src="{% static 'images/Vector (12).png' %}" />
                <img src="{% static 'images/Vector (13).png' %}" />
                <img src="{% static 'images/Vector (14).png' %}" />
              
            </div>
            <p class="recent-1">Recently generated favicons</p>
            <div class="recent">
                {% for recent in icons %}
                <img src="{{recent.upload.image.url}}" />
                {% endfor %}
                <!--{#}<img src="{% static 'images/Vector (1).png' %}" />
                <img src="{% static 'images/Vector (2).png' %}" />
                <img src="{% static 'images/Vector (3).png' %}" />
                <img src="{% static 'images/Vector (4).png' %}" />
                <img src="{% static 'images/Vector (5).png' %}" />
                <img src="{% static 'images/Vector (6).png' %}" />
                <img src="{% static 'images/Vector (7).png' %}" />
                <img src="{% static 'images/Vector (8).png' %}" />
                <img src="{% static 'images/Vector (9).png' %}" />
                <img src="{% static 'images/Vector (10).png' %}" />
                <img src="{% static 'images/Vector (11).png' %}" />
                <img src="{% static 'images/Vector (12).png' %}" />
                <img src="{% static 'images/Vector (13).png' %}" />
                <img src="{% static 'images/Vector (14).png' %}" />
                #}-->
            </div>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    {% include 'upload.html' %}
    {% endif %}
</header>

{% if request.user.is_authenticated %}

<script src="{% static 'js/header.js' %} " defer>
</script>
{% endif %}

{% endblock %}
