{% extends 'layout.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
{% endblock %}


{% block content %}
<header class='main-header'>
    {% include 'upload.html' %}
    <nav class="navbar">
        <a href="#" class="nav-brand" style="color: white;"><img src="{% static 'images/Frame 137.png' %}" alt="" class="logo-img"><span>onficon</span> </a>

        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">Generate
                    <span class="material-symbols-outlined">
                        expand_more
                        </span>          
                </a>
                <ul class="drop-down">
                    <li><a href="">Upload Image</a></li>
                    <li><a href="">From Text</a></li>
                </ul>
            </li>
                
            <li class="nav-item">
                <a href="#" class="nav-link">How it works</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class='nav-item'>
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'signup' %}" class="nav-link">Signup</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">Login</a>
            </li>
            {% endif %}
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>

    <div class="intro">
        <h2>Get the right sized favicon for you</h2>
        <p>Upload your image or input your text to generate your favicon</p>
    </div>

    <form method='post' action="{% url 'upload' %}" class="upload" id='upload'>
        {% csrf_token %}
        <div class="upload-col">
            <input type="file" name="file-input" id="file-input" class="file-input" accept='image/*' required />
            <!-- <button type="button">Upload image</button> -->

            <!-- <img src="images/Vector.png" alt=""> -->
            <!-- <h3>Upload image</h3> -->
          
          <!-- i need help on how to style the file upload with the image and text above -->

        </div>
        <div class="generatediv">
            <button type="submit" class="generatebtn">Generate</button>
        </div>
    </form>
    {% if request.user.is_authenticated %}
    <div class="icons">
        <p class="recent-1">Recently generated favicons</p>
        <ul class="recent">
            <li><img src="{% static 'images/Vector (1).png' %}" alt=""></li>
            <li><img src="{% static 'images/Vector (2).png' %}" alt=""></li>
            <li><img src="{% static 'images/Vector (3).png' %}" alt=""></li>
            <li><img src="{% static 'images/Vector (4).png' %}" alt=""></li>
            <li><img src="{% static 'images/Vector (5).png' %}" alt="" class="hide-img"></li>
            <li><img src="{% static 'images/Vector (6).png' %}" alt="" class="hide-img"></li>
            <li><img src="{% static 'images/Vector (7).png' %}" alt="" class="hide-img"></li>
        </ul>
    </div>
    <div class="icons">
        <ul class="recent lower">
            <li><img src="{% static 'images/Vector (8).png' %}" alt=""></li>
            <li><img src="{% static 'images/Vector (9).png' %}" alt=""></li>
            <li><img src="{% static 'images/Vector (10).png' %}" alt=""></li>
            <li><img src="{% static 'images/Vector (11).png' %}" alt=""></li>
            <li><img src="{% static 'images/Vector (12).png' %}" alt="" class="hide-img"></li>
            <li><img src="{% static 'images/Vector (13).png' %}" alt="" class="hide-img"></li>
            <li><img src="{% static 'images/Vector (14).png' %}" alt="" class="hide-img"></li>
        </ul>

        <!-- I will adjust when I have the logos from designers -->
    </div>
    {% endif %}
</header>
<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");

    hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    })

    document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }));
</script>

{% if request.user.is_authenticated %}

<script>
    const form = document.getElementById('upload');
    const modal = document.getElementById('modal');
    const fileInput = document.getElementById('file-input').files

    form.addEventListener('submit', (e) => {
        e.preventDefault()
        if (fileInput[0].size > 5e6) {
            alert('file size exceeded 5 mb')
            return
        }
        const http = new XMLHttpRequest()
        const fd = new FormData(e.target)
        http.addEventListener("load", (ev) => {
            modal.style.display = 'flex'
        });
        http.addEventListener("error", (event) => {
            alert('Oops failed to upload');
        });
        http.open('POST', location.origin + '/upload/', true)
        http.send(fd)
    })
</script>
{% endif %}

{% endblock %}
