{% load static %}

{% block extra_scripts %}
<script src="{% static 'js/upload.js' %}" defer></script>
{% endblock %}

<header class='main-header'>
    {% include 'upload.html' %}
    <nav class="navbar">
        <a href="#" class="nav-brand" style="color: white;">Conficon</a>

        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">Generate</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">How it works</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class='nav-item'>
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'signup' %}" class="nav-link">Signup</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">Login</a>
            </li>
            {% endif %}
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>

    <div class="intro">
        <h2>Get the right sized favicon for you</h2>
        <p>Upload your image or input your text to generate your favicon</p>
    </div>

    <form method='post' action="{% url 'upload' %}" class="upload" id='upload'>
        {% csrf_token %}
        <div class="upload-col">
            <input type="file" name="file-input" id="file-input" class="file-input" accept='image/*'  />
            <!-- <button type="button">Upload image</button> -->
        </div>
        <div class="generate">
            <button type="submit" class="generate">Generate</button>
        </div>
    </form>
    {% if request.user.is_authenticated %}
    <div class="icons">
        <p class="recent-1">Recently generated favicons</p>
        <ul class="recent">
            <li>ICON</li>
            <li>ICON</li>
            <li>ICON</li>
            <li>ICON</li>
            <li>ICON</li>
            <li>ICON</li>
            <li>ICON</li>
        </ul>
    </div>
    <div class="icons">
        <ul class="recent lower">
            <li>ICON</li>
            <li>ICON</li>
            <li>ICON</li>
            <li>ICON</li>
            <li>ICON</li>
            <li>ICON</li>
            <li>ICON</li>
        </ul>

        <!-- I will adjust when I have the logos from designers -->
    </div>
    {% endif %}
</header>
<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");

    hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    })

    document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }));
</script>

{% if request.user.is_authenticated %}

<script>
    const form = document.getElementById('upload');
    const modal = document.getElementById('modal');

    form.addEventListener('submit', (e) => {
        e.preventDefault()

        const http = new XMLHttpRequest()
        const fd = new FormData(e.target)
        http.addEventListener("load", (ev) => {
            modal.style.display = 'flex'
        });
        if (fd.get('file-input').size > 10e6) {
            alert('file size exceeded 10 mb')
            return
        }
        console.log(fd.get('file-input'), 'kfjkfjfk')
        http.addEventListener("error", (event) => {
            alert('Oops failed to upload');
        });
        http.open('POST', location.origin + '/upload/', true)
        http.send(fd)
    })
</script>
{% endif %}
