{% extends 'layout.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

{% block header %}

{% include 'header.html' %}

{% endblock%}

{% block content %}

{# importing flash-messages #}
{% include 'flash-messages.html' %}

{% if request.user.is_authenticated %}
{% include 'upload.html' %}
{% endif %}

<h1>Yipee!!!!! It worked, welcome on board {{ request.user }}</h1>

{% endblock %}

{% block footer %}

{% include 'footer.html' %}

{% endblock %}
