{% extends 'layout.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/copy.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% endblock %}

{% block header %}
{% include 'nav.html' %}
{% include 'header.html' %}

{% endblock%}


{% block content %}

<!-- {# importing flash-messages #}
{% include 'flash-messages.html' %}

<h1>Yipee!!!!! It worked, welcome on board {{ request.user }}</h1> -->

{% block textgen %}

{% include 'textgen.html' %}
{% endblock%}

{% include "center.html" %}

{% endblock %}

{% block footer %}

{% include 'footer.html' %}

{% endblock %}
