{% extends 'layout.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}


{% block content %}

{# importing flash-messages #}
{% include 'flash-messages.html' %}

{% if request.user.is_authenticated %}
<button> <a href="{% url 'logout' %}">Logout</a></button>

{% else %}
<button> <a href="{% url 'login' %}">Login</a></button>
<button> <a href="{% url 'signup' %}">Create New Accout</a></button>

{% endif %}

<h1>Yipee!!!!! It worked, welcome on board {{ request.user }}</h1>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
