<!DOCTYPE html>

<html>
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/f605babb3d.js" crossorigin="anonymous" defer></script>

    <title>{% block title %} Conficon Login Page{% endblock %}</title>

    <!-- base styles -->
    <link rel="stylesheet" type='text/css' href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <!-- This are extra  styles and scripts that you might include in other html -->
    {% block extra_css %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
</head>

<body>
    {% block header %}

    {% include 'header.html' %}

    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer%}

    {% include 'footer.html' %}

    {% endblock %}
</body>

</html>
