<!DOCTYPE html>

<html>
{% load static %}

<head>
    <link rel='icon' type='image/x-icon' href="{% static 'images/logo.svg' %}">
    <meta name="theme-color" content="#3250ec" <meta name="msapplication-navbutton-color" content="#3250ec">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#3250ec">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/f605babb3d.js" crossorigin="anonymous" defer></script>

    <title>{% block title %} Welcome | Conficon{% endblock %}</title>

    <!-- base styles -->
    <link rel="stylesheet" type='text/css' href="{% static 'css/base.css' %}">
    <!-- This are extra  styles and scripts that you might include in other html -->
    {% block extra_css %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
</head>

<body>
    {% block header %}

    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer%}

    {% endblock %}
</body>

</html>
