{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password-reset.css' %}">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

{% endblock %}

<a href="{% url 'home' %}">
    <label style="color: black; font-size: .7em; -webkit-text-stroke: 6px white;"><i class="fa-solid fa-arrow-left fa-5x"></i></label>
    <!-- <label style="color: #D6D6D7; font-size: .7em; "><i class="fa-solid fa-arrow-left fa-10x"></i></label> -->

</a>

<div class="container">
    <h1>Password Reset</h1>
    
    <p>Forgotten your password? Enter email address below, and we will email instructions for setting a new one.</p>
    
    <form method="post">
        {% csrf_token %}
        {{form}}
        <br>
        <input type="submit" name="sendEmail" id="submit">
    </form>
</div>