{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password-reset.css' %}">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

{% endblock %}

<div style="width: 15%; text-align: right; margin-top: 2em; padding-left: 10px;">
    <a href="{% url 'home' %}">
        <label style="color: black; -webkit-text-stroke: 1px white; width: 100%;"><i class="fa-solid fa-arrow-left fa-4x"></i></label>
    </a>
</div>

<div class="container">
    <h1>Password Reset</h1>
    
    <p>Forgotten your password? Enter email address below, and we will email instructions for setting a new one.</p>
    
    <form method="post">
        {% csrf_token %}
        {{form}}
        <br>
        <input type="submit" name="sendEmail" id="submit">
    </form>
</div>