{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password-reset.css' %}">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
{% endblock %}

<a href="{% url 'login' %}">
    <label style="color: black; font-size: .7em; -webkit-text-stroke: 6px white;"><i class="fa-solid fa-arrow-left fa-5x"></i></label>
</a>

<div class="container" id="box">
    <i class="uil uil-check-circle"></i>
    <h1>Password Reset Sent</h1>
    
    <p>We've emailed you instructions for setting your password. If an account exists with the email you entered, you should receive the mail shortly.</p>
    <p>If you don't receive an email, please make sure you have entered the address you registered with, and check your spam folder.</p>
</div>

