{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pass-reset.css' %}">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
{% endblock %}

<div style="width: 15%; text-align: right; margin-top: 2em; padding-left: 10px;">
    <a href="{% url 'login' %}">
        <label style="color: black; -webkit-text-stroke: 1px white; width: 100%;"><i class="fa-solid fa-arrow-left fa-2x"></i></label>
    </a>
</div>

<div class="pass-pop" id="box">
    <h2>Password reset complete <span style="color:blue;">!</span></h2>

    <p>An email notification has been sent to you. </p>
    
</div>

