{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password-reset.css' %}">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
{% endblock %}

<div class="container" id="box">
    <i class="uil uil-check-circle"></i>
    <h1>Password Reset Sent</h1>
    
    <p>We've emailed you instructions for setting your password. If an account exists with the email you entered, you should receive the mail shortly.</p>
    <p>If you don't receive an email, please make sure you have entered the address you registered with, and check your spam folder.</p>
</div>