{% extends 'layout.html' %}

{% load static %}

{% block title %}ConfIcon Sign Up Page{% endblock %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap" rel="stylesheet">

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<form method='post' action='' class="form">
    {% csrf_token %}
    <header>
        <div class="desktop-display1">
            <h1>Create a Free Account</h1>
        </div>
        <div class="mobile-display1">
            <h1> Create a new account</h1>
        </div>
        <div class="desktop-display">
            <p><small>Already have an account? <a href="{% url 'login' %}">login</a> </small></p>
        </div>
    </header>
    <div class="frm">
        <div class="field">
            <label for="username">Name</label>
            <input type="text" value="{{ instance.username }}" placeholder="username" id="username" name="username" required>
        </div>

        <div class="field">
            <label for="email">Email Address</label>
            <input type="email" value="{{ instance.email }}" placeholder="Myname@domain.com" id="email" name="email" required>
        </div>

        <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="*****************" required>
            <span id="togglePassword">
                <i id="hide1" class="fa-solid eyes fa-eye-slash"></i>
            </span>
        </div>
        {% include 'flash-messages.html' %}
        <button id="submit" class="butn1">Create account</button>

        {% include 'social-logins.html' %}

        <div class="mobile-display">
            <p><small>Already have an account? <a href="{% url 'login' %}">login</a> </small></p>
        </div>
    </div>
    </div>
</form>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/signup.js' %}" defer></script>
{% endblock %}
