{% extends 'layout.html' %}

{% load static %}

{% block title %}ConfIcon Sign Up Page{% endblock %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}

<a href="{% url 'home' %}">
    <label style="color: black;"><i class="fa-solid fa-arrow-left fa-10x"></i></label>
</a>

<form method='post' action='' class="form">
    
    <header id="mbile">
        <h1>Create a Free Account</h1>
        <p><small class="down-mobile">Already have an account? <a href="{% url 'login' %}">login</a> </small></p>
    </header>
    {% csrf_token %} 
        <div class="field">
            <label for="username">Name</label>
            <input type="text" value="{{ instance.username }}" placeholder="Username" id="username" name="username" autofocus 
            onmouseover="this.setSelectionRange(this.value.length,this.value.length);"  
            onfocus="this.setSelectionRange(this.value.length,this.value.length);">
            <small></small>
        </div>

        <div class="field">
            <label for="email">Email Address</label>
            <input type="email" value="{{ instance.email }}" placeholder="Email Address" id="email" name="email" >
            <small></small>
        </div>

        <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder='Password' name="password"> 
            <small></small>
            <span id="togglePassword">
                         <i id="hide1" class="fa-solid eyes fa-eye-slash"></i>
            </span>
    
        </div>

        {% include 'flash-messages.html' %}

      <div class="butns">
        <div class="butn1">
            <button type='submit' id='submit'>Create account</button>
        </div>

        {% include 'social-logins.html' %}

    </div>
</form>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/signup.js' %}" defer></script>
{% endblock %}
