{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<p class="txt-lines">Or</p>
<div class="butn3">

    <button>
        <i class="fa-brands fa-facebook"></i>
        
    </button>
    <p>Continue with Facebook</p>
</div>
<div class="butn2">
    <button>
        <img class="google" src="{% static 'images/Google_icon.png' %}"> 
    </button>
    <p>Continue with Google</p>
</div>


