<section class='modal'>
    <article class='modal-left'>

        <form>

            <h3>Download favicon size</h3>

            <small>Recommended sizes</small>

            <div class='sizes-chb'>
                <label for='s16'><input type='checkbox' id='s16' name='s16'><span>16 X 16</span></label>
                <label for='s32'><input type='checkbox' id='s32' name='s32'><span>32 X 32<span></label>
                <label for='s96'><input type='checkbox' id='s96' name='s96'><span>96 X 96</span></label>
                <label for='s129'><input type='checkbox' id='s120' name='s120'><span>120 X 120</span></label>
            </div>

        </form>

        <section class='cp-dwld-icons'>

            <h4>Copy code after downloading favicon</h4>

            <div class='cp-space'>
                <pre>&lt;link rel="apple-touch-icon" sizes="32 X 32"&gt;</pre>
            </div>

            <div class='down-btns'>
                <button class='down-btn-pri'>Download</button>
                <button class='down-btn-grey'>Copy HTML</button>
            </div>

        </section>

    </article>

    <article class='modal-right'>

        <section class='modal-right-hds'>
            <small class='ex-left'>Preview</small>
            <div class='ex-right-btns'>
                <button class='child1'>Light</button>
                <button class='child2'>Dark</button>
            </div>
        </section>

    </article>

</section>
